@page "/login"
@using Estore.Client.Components.Pages
@using Core.Services
@rendermode InteractiveServer
@inject ContentService contentService


<div class="d-flex justify-content-center">
    <form class="d-flex flex-column justify-content-center p-4 mt-5" style="width: 300px; border: 1px solid #ccc; background-color: #f8f9fa; border-radius: 8px;">
        <!-- Email input -->
        <div class="mb-4">
            <input type="email" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="mb-4">
            <input type="password" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input type="checkbox" value="" id="form2Example31" checked />
                    <label for="form2Example31"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.AppRegistration" Color="Color.Primary" OnClick="@(() => contentService.SelectContent("Register"))">Register</MudButton></p>
        </div>
    </form>
</div>
    <MudImage Src="images/under_construction.png" Alt="Under Construction" Elevation="25" Class="rounded-lg ma-4" />


@code {
   
}
