@page "/admintool"
@rendermode InteractiveServer
@using MudBlazor

<div class="d-flex flex-row">
    <MudAppBar Color="Color.Primary">
        <div class="col-8">
            <MudText Align="Align.Left" Typo="Typo.h6" Color="Color.Inherit" Class="ml-2">Admin Tools</MudText>
        </div>
        <div class="col-4">
            <MudButton  Color="Color.Inherit" OnClick=@(() => SelectOption("Products"))>Products</MudButton>
            <MudButton Color="Color.Inherit" OnClick=@(() => SelectOption("Categories"))>Categories</MudButton>
            <MudButton Color="Color.Inherit" OnClick=@(() => SelectOption("Users"))>Users</MudButton>
            <MudButton Color="Color.Inherit" OnClick=@(() => SelectOption("Orders"))>Orders</MudButton>
        </div>
    </MudAppBar>
</div>
<div class="content">
    @if (selectedOption == "Products")
    {
        <EditProducts />
    }
    else if (selectedOption == "Categories")
    {
        <EditCategories />
    }
    else if (selectedOption == "Users")
    {
        <EditUsers />
    }
    else if (selectedOption == "Orders")
    {
        <EditOrders />
    }
</div>

@code {
    private string selectedOption = "Products";

    private void SelectOption(string option)
    {
        selectedOption = option;
    }

}